SQLite library

In [2]:
# !apt-get install sqlite3
# import sqlite3
# import pandas as pd

In [3]:
# conn = sqlite3.connect('atliq_tshirts.db')
# cursor = conn.cursor()

In [4]:
# import sqlite3

# # Connect to the database (or create it if it doesn't exist)
# conn = sqlite3.connect('atliq_tshirts.db')
# cursor = conn.cursor()

# # Query to get the list of tables
# cursor.execute("SELECT name FROM sqlite_master;")
# tables = cursor.fetchall()

# # Print the list of tables
# print("Tables in the database:")
# for table in tables:
#     print(table[0])

In [5]:
# def create_t_shirts_table():
#     try:
#         cursor.execute("""
#         CREATE TABLE t_shirts (
#             t_shirt_id INT PRIMARY KEY,
#             brand VARCHAR(20) NOT NULL,
#             color VARCHAR(20) NOT NULL,
#             size VARCHAR(20) NOT NULL,
#             price INT CHECK (price BETWEEN 10 AND 50),
#             stock_quantity INT NOT NULL
#         )"""
#         )
#         conn.commit()
#         print("Table 't_shirts' created successfully.")
#     except sqlite3.OperationalError as e:
#         if 'already exists' in str(e):
#             print("Table 't_shirts' already exists.")
#             # Optionally, you can drop and recreate the table
#             # cursor.execute("DROP TABLE IF EXISTS t_shirts")
#             # conn.commit()
#             # create_t_shirts_table()
#         else:
#             raise

# # Create the table
# create_t_shirts_table()

# # Function to create the discounts table
# def create_discounts_table():
#     try:
#         cursor.execute("""
#         CREATE TABLE discounts (
#             discount_id INT PRIMARY KEY,
#             t_shirt_id INT NOT NULL,
#             pct_discount DECIMAL(5,2) CHECK (pct_discount BETWEEN 0 AND 100),
#             FOREIGN KEY (t_shirt_id) REFERENCES t_shirts(t_shirt_id)
#         )"""
#         )
#         conn.commit()
#         print("Table 'discounts' created successfully.")
#     except sqlite3.OperationalError as e:
#         if 'already exists' in str(e):
#             print("Table 'discounts' already exists.")
#             # Optionally, you can drop and recreate the table
#             # cursor.execute("DROP TABLE IF
# create_discounts_table()

In [6]:
# cursor.execute("""
# INSERT INTO discounts (t_shirt_id, pct_discount)
# VALUES
# (1, 10.00),
# (2, 15.00),
# (3, 20.00),
# (4, 5.00),
# (5, 25.00),
# (6, 10.00),
# (7, 30.00),
# (8, 35.00),
# (9, 40.00),
# (10, 45.00)
# """)
# conn.commit()

In [7]:
# cursor.execute("""
# INSERT INTO t_shirts VALUES
#   (1, 'Van Huesen', 'Blue', 'XS', 17, 81),
#     (2, 'Levi', 'Black', 'L', 29, 50),
#     (3, 'Adidas', 'White', 'M', 14, 14),
#     (4, 'Adidas', 'Blue', 'M', 31, 91),
#     (5, 'Adidas', 'Black', 'L', 22, 58),
#     (6, 'Adidas', 'Blue', 'XS', 43, 71),
#     (7, 'Adidas', 'Black', 'XL', 23, 71),
#     (8, 'Levi', 'White', 'M', 42, 45),
#     (9, 'Nike', 'Black', 'L', 37, 22),
#     (10, 'Nike', 'White', 'M', 38, 10),
#     (11, 'Adidas', 'White', 'L', 12, 97),
#     (12, 'Nike', 'Red', 'XS', 45, 19),
#     (13, 'Adidas', 'Red', 'M', 23, 51),
#     (14, 'Levi', 'Red', 'L', 11, 25),
#     (15, 'Nike', 'Red', 'M', 29, 61),
#     (16, 'Levi', 'Black', 'S', 37, 64),
#     (17, 'Adidas', 'Red', 'XL', 20, 43),
#     (18, 'Van Huesen', 'Blue', 'L', 18, 10),
#     (19, 'Levi', 'White', 'S', 17, 83),
#     (20, 'Levi', 'White', 'XL', 42, 44),
#     (21, 'Nike', 'Black', 'XL', 13, 67),
#     (22, 'Adidas', 'White', 'XS', 44, 17),
#     (23, 'Adidas', 'Blue', 'L', 46, 23),
#     (24, 'Van Huesen', 'White', 'M', 13, 63),
#     (26, 'Nike', 'Black', 'XS', 30, 37),
#     (27, 'Adidas', 'Red', 'S', 47, 97),
#     (29, 'Nike', 'White', 'L', 48, 49),
#     (30, 'Levi', 'Blue', 'S', 16, 86),
#     (31, 'Nike', 'Red', 'S', 48, 100),
#     (32, 'Van Huesen', 'White', 'L', 46, 43),
#     (33, 'Van Huesen', 'White', 'XS', 39, 33),
#     (34, 'Van Huesen', 'White', 'S', 45, 38),
#     (41, 'Adidas', 'Black', 'S', 43, 24),
#     (43, 'Nike', 'Black', 'M', 17, 59),
#     (44, 'Van Huesen', 'Blue', 'M', 10, 77),
#     (45, 'Nike', 'White', 'XL', 49, 90),
#     (46, 'Nike', 'White', 'S', 42, 89),
#     (47, 'Adidas', 'Blue', 'XL', 14, 14),
#     (52, 'Adidas', 'Red', 'XS', 11, 81),
#     (53, 'Adidas', 'White', 'XL', 50, 26),
#     (55, 'Levi', 'Red', 'XL', 30, 80),
#     (57, 'Van Huesen', 'Black', 'XL', 23, 19),
#     (58, 'Nike', 'Blue', 'XS', 38, 15),
#     (61, 'Van Huesen', 'Blue', 'XL', 27, 44),
#     (63, 'Van Huesen', 'Red', 'XS', 24, 53),
#     (69, 'Levi', 'Black', 'XS', 44, 82),
#     (70, 'Levi', 'White', 'XS', 30, 51),
#     (72, 'Nike', 'Black', 'S', 35, 20),
#     (74, 'Levi', 'Red', 'XS', 19, 86),
#     (77, 'Levi', 'Black', 'M', 25, 44),
#     (80, 'Van Huesen', 'Red', 'S', 41, 23),
#     (81, 'Levi', 'Black', 'XL', 32, 18),
#     (83, 'Van Huesen', 'Red', 'M', 42, 31),
#     (84, 'Adidas', 'Blue', 'S', 36, 25),
#     (94, 'Nike', 'White', 'XS', 43, 99),
#     (100, 'Levi', 'Blue', 'M', 49, 16)
# """)
# conn.commit()

In [8]:
# cursor.execute("SELECT * FROM t_shirts")
# rows = cursor.fetchall()
# for row in rows:
#     print(row)

In [9]:
# from google.colab import drive
# drive.mount('/content/drive')

In [10]:
# !pip install -r '/content/drive/MyDrive/sqliteDB/requirements.txt'

#### Google Palm LLM & API key setup

In [11]:
# !pip install chromadb==0.4.15
# !pip install langchain_community

In [13]:
from langchain_community.llms import GooglePalm

api_key = ''

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

c:\Python\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### Connect with database and ask some basic questions

In [14]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [ ]:
#!pip install langchain sqlalchemy

In [ ]:
# db = SQLDatabase.from_uri("sqlite:////content/atliq_tshirts.db",sample_rows_in_table_info=3)

# print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CHECK (pct_discount BETWEEN 0 AND 100)
)

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
None	1	10.00
None	2	15.00
None	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER,
	brand VARCHAR(20) NOT NULL,
	color VARCHAR(20) NOT NULL,
	size VARCHAR(20) NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CHECK (price BETWEEN 10 AND 50)
)

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Blue	XS	17	81
2	Levi	Black	L	29	50
3	Adidas	White	M	14	14
*/

In [15]:
db_user = "root"
db_password = "Ankan2020"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
11	1	10.00
12	2	15.00
13	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Blue	XS	17	81
2	Levi	Black	L	29	50
3	Adidas	White	M	14	14
*/

In [16]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [17]:
qns1 = db_chain.run("How many t-shirts do we have left for nike in extra small size and white color?")

c:\Python\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(99,)]
Answer:99
> Finished chain.

Above is the correct answer üëçüèº

In [18]:
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('407'),)]
Answer:407
> Finished chain.

It made a mistake here. The price is actually the price per unit but in real life database columns will not have perfect names. We need to tell it somehow that price is price per unit and the actual query should be,

SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'

In [19]:
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('23537'),)]
Answer:23537
> Finished chain.

we will use qns2 value later on in this notebook. So hold on for now and let's check another query

In [ ]:
# qns3 = db_chain.run("If we have to sell all the Levi‚Äôs T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")

Above, it returned a wrong query which generated an error during query execution. It thinks discount
table would have start and end date which is normally true but in our table there is no start or end date column.
One thing we can do here is run the query directly.

In [20]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('21371.000000'),)]
Answer:21371
> Finished chain.

It produced a correct answer when explicit query was given. 17462 is the total revenue without discounts. The total discount is 736.6. Hence revenue post discount is 17462-736.6=16725.4

Now this is not much interesting because what is the point of giving it the ready made query? Well, we will use this same query later on for few shot learning

In [21]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('22250'),)]
Answer:22250
> Finished chain.

In [22]:
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(51,), (83,), (45,), (44,)]
Answer:51
> Finished chain.

Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [ ]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('223'),)]
Answer:223
> Finished chain.

#### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [24]:
few_shots =     [{'Question' : 'How many t-shirts do we have left for Nike in XS size and white color?',
     'SQLQuery' : 'SELECT sum(stock_quantity) FROM t_shirts WHERE brand = "Nike" AND color = "White" AND size = "XS"',
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1}    ,
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Levi‚Äôs T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Levi‚Äôs T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     }
]

In [ ]:
qns1

'99'

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [ ]:
# pip install chromadb==0.4.15

In [ ]:
# !pip install -U langchain chromadb
# !pip install OpenAI

Collecting OpenAI
  Downloading openai-1.30.5-py3-none-any.whl (320 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 320.7/320.7 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from OpenAI) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from OpenAI) (1.7.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from OpenAI) (0.27.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from OpenAI) (2.7.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from OpenAI) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from OpenAI) (4.66.4)
Requirement already satisfied: typing-extensions<5,>=4.7 in /usr/local/lib/python3.10/dist-packages (from OpenAI) (4.11.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->OpenAI) (3.7)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->OpenAI) (1.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->OpenAI) (2024.2.2)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->OpenAI) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->OpenAI) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->OpenAI) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.2 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->OpenAI) (2.18.2)
Installing collected packages: OpenAI
Successfully installed OpenAI-1.30.5

In [25]:
from langchain.embeddings import HuggingFaceEmbeddings
# from langchain.embeddings import OpenAIEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')
# embeddings=OpenAIEmbeddings(openai_api_key="")

# Function to convert all values in a dictionary to strings
def convert_to_string(value):
    if isinstance(value, dict):
        return " ".join([convert_to_string(v) for v in value.values()])
    return str(value)

# Concatenate the values of each dictionary to form a single string per example
to_vectorize = [" ".join([convert_to_string(v) for v in example.values()]) for example in few_shots]

# Print the vectorized examples for verification
print(to_vectorize)
print(to_vectorize[0])
print(embeddings)
print(type(to_vectorize))
print(type(few_shots))

['How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = "Nike" AND color = "White" AND size = "XS" Result of the SQL query 99', "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 23537", "If we have to sell all the Levi‚Äôs T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query 21371", "If we have to sell all the Levi‚Äôs T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query 22250", "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 51"]
How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = "Nike" AND color = "White" AND size = "XS" Result of the SQL query 99
client=SentenceTransformer(
  (0): Transformer({'max_seq_length': 256, 'do_lower_case': False}) with Transformer model: BertModel
  (1): Pooling({'word_embedding_dimension': 384, 'pooling_mode_cls_token': False, 'pooling_mode_mean_tokens': True, 'pooling_mode_max_tokens': False, 'pooling_mode_mean_sqrt_len_tokens': False})
  (2): Normalize()
) model_name='sentence-transformers/all-MiniLM-L6-v2' cache_folder=None model_kwargs={} encode_kwargs={} multi_process=False show_progress=False
<class 'list'>
<class 'list'>

In [ ]:
# vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots) is not working
from chromadb.errors import InvalidDimensionException
# load it into Chroma
# db = Chroma.from_documents(docs, embedding_function)
try:
    vectorstore = Chroma.from_texts(to_vectorize, embeddings,metadatas=few_shots)
except InvalidDimensionException:
    Chroma().delete_collection()
    vectorstore = Chroma.from_texts(to_vectorize, embeddings,metadatas=few_shots)
    # vectorstore = Chroma.from_documents(filter_complex_metadata(documents), embeddings)

print(vectorstore)
type(vectorstore)

NameError: name 'Chroma' is not defined

In [ ]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': '99',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': 'SELECT sum(stock_quantity) FROM t_shirts WHERE brand = "Nike" AND color = "White" AND size = "XS"',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '22250',
  'Question': 'If we have to sell all the Levi‚Äôs T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query'}]

In [ ]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [ ]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [ ]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [ ]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [ ]:
new_chain("How many t-shirts do we have left for Nike in XS size and white color")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Nike in XS size and white color
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = "Nike" AND color = "White" AND size = "XS"
SQLResult: [(99,)]
Answer:99
> Finished chain.

{'query': 'How many t-shirts do we have left for Nike in XS size and white color',
 'result': '99'}

In [ ]:
new_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(223,)]
Answer:223
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '223'}

Now this is working ok. Previously for this same question it was giving wrong answer because it did not use SUM clause around stock_quantity column

In [ ]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(23537,)]
Answer:23537
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '23537'}

In [ ]:
new_chain("How much is the price of all white color levi t shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of all white color levi t shirts?
SQLQuery:SELECT sum(price*stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(6679,)]
Answer:6679
> Finished chain.

{'query': 'How much is the price of all white color levi t shirts?',
 'result': '6679'}

In [ ]:
new_chain("If we have to sell all the Nike‚Äôs T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nike‚Äôs T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(26435,)]
Answer:26435
> Finished chain.

{'query': 'If we have to sell all the Nike‚Äôs T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '26435'}

In [ ]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(11886,)]
Answer:11886
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '11886'}

In [ ]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen'
SQLResult: [(13263,)]
Answer:13263
> Finished chain.

'13263'